/* Logout Button */
.logout-button {
    color: var(--danger) !important;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}

.logout-button:hover {
    font-weight: 700;
}

/* navlink drop down on hover */
.dropdown-user{
    display: none;
    position: absolute;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    padding: 16px;
}

.active-user-drop-down{
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* top:0; */
    justify-self: center;
}

/* Search Input Styles */

.search-hover{
    position: relative;
}

.search-input {
    width: 0;
    opacity: 0;
    padding: 0;
    border: none;
    transition: width .22s ease, opacity .18s ease, padding .18s ease;
    margin-left: 0;
    font-size: 0.95rem;
}

.search-hover:hover .search-input,
.search-hover:focus-within .search-input {
    color: var(--primary);
    opacity: 1;
    border: 1px solid var(--primary);
}

.search-hover:focus-within {
    color: var(--primary);
}

.shop-now-btn{
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop-now-btn:hover {
    background-color: #a67c26;
}

.add-to-cart-button {
    background-color: var(--white);
    color: var(--primary);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button.with-border {
    border-radius: 8px;
    border: 1px solid var(--primary);
}

.checkout-button{
    background: none;
    border: 1px solid ;
    border-radius: 15px;
    padding: 15px 50px;
}