.card-and-table-container {
    padding: 72px 100px;
    gap: 40px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.table-header>th,
.table-body>td {
    padding: 16px 24px;
    border-bottom: 1px solid var(--light-bg);
}

.table-header {
    background-color: var(--primary-bg);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.cart-table-product-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-card {
    padding: 4%;
    width: 40%;
    background-color: var(--primary-bg);
}

@media (max-width:1024px) {
    .card-and-table-container {
        padding: 50px 80px;
    }
}

@media (max-width:768px) {
    .card-and-table-container {
        padding: 40px 50px;
    }
}

@media (max-width:426px) {
    .card-and-table-container {
        padding: 30px 0px;
    }

    .cart-table {
        overflow-x: auto;
    }

}