.profile-container {
    padding: 0px 5vw 0px;
}

.profile-card {
}

.profile-picture {
    margin-bottom: 32px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 24px;
}

.profile-actions {
    gap: 44px;
    margin-top: 24px;
}

.profile-actions-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 12px 20px;
}

.profile-action-button {
    justify-content: space-between;
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    align-self: center;
}

.danger-zone {
    margin-top: 40px;
    gap: 24px;
}

@media (max-width: 640px) {
    .profile-container {
        padding: 0px 6vw 0px;
    }

    .profile-image {
        width: 120px;
        height: 120px;
    }

    .danger-zone {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .profile-actions-items {}

}