/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */


.custom-category-item {
  display: grid;
  grid-template-columns: auto 1fr; /* checkbox | label */
  align-items: center;
  gap: 8px;
}

/* .custom-category-item input[type="checkbox"] {
    width: 100%;
} */
